@model CourseWorkData.Models.Symptom
@{
    ViewBag.Title = "Symptom";
}
<h2>Добавление симптома болезни</h2>
<form asp-action="createSymptom" asp-controller="home">
    <p>
        <label asp-for="Name">Симптом</label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" />
    </p>

    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>
@if (ViewBag.error != null)
{        
    @foreach (var item in ViewBag.error)
    {
                 <p>@item.ErrorMessage</p>
    }
}
<p><a asp-action="ShowSymptom">Показать симптомы</a></p>