@model CourseWorkData.Models.User
@{
    ViewBag.Title = "FindUser";
}
<h2>Поиск пациента</h2>
<form asp-action="CreateFindUser" asp-controller="home">
    <p>
        <label name="Lname">Фамилия</label>
        <input type="text" name="Lname" />
        <span asp-validation-for="LastName" />
    </p>
     <p>
        <label name="Fname">Имя</label>
        <input type="text" name="Fname" />
        <span asp-validation-for="FirstName" />
    </p>
     <p>
        <label name="Pname">Отчество</label>
        <input type="text" name="Pname" />
        <span asp-validation-for="PatrName" />
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>
</form>
